resources/models/kokoro-tts/model.onnx filter=lfs diff=lfs merge=lfs -text
resources/models/kokoro-tts/voices.bin filter=lfs diff=lfs merge=lfs -text
resources/models/kokoro-tts/**/*.dylib filter=lfs diff=lfs merge=lfs -text
